.sgn-right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url(../../Images/DARK-LIGHT-BG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}