.sgn-right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(../../images/DARK-LIGHT-BG.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
form {
}
.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}
i {
  position: absolute;
  color: #acacac77;
  top: 50%;
  right: 5%;
}
i:hover {
  transition: 2s;
  color: #0097ff;
  cursor: pointer;
}
